body {
    background-color: #f0f0f5;
}

h1 {
    color: rgb(130, 130, 135);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h1.index {
    margin: 60px;

}

h2 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

p1 {
    color: rgb(220, 32, 204);
    font-family: verdana;
    font-size: 20px;
    text-align: center;

}

ul.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(18, 105, 199);
}

li {
    color: rgb(237, 241, 249);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    float: left;
    margin: 2em;
}

hr {
    border-top: 10px solid rgb(18, 105, 199);
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

img.headimage {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    float: none;
    z-index: 0;
}

img.sideimage {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 25%;
    border-radius: 50%;
    float: center;
    z-index: 1;
}


img.endimage {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    float: right;
    z-index: 0;
}

img {
    margin: 0;
    padding: 0;
}

.imagecontainer {
    position: relative;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;

}